<% if flash[:notice] %>
  <div class="flashNotice"><%= h flash[:notice] %></div>
<% end %>

<h1>Welcome To The Game</h1>

<p>Hello, <%= @user.username %>!</p>
<%= link_to "Logout", :action => "logout" %><br/>
<%= link_to "Forest", :controller => "location", :action => "forest" %>

<ul>
  <li>Attack: <strong><%= @atk %></strong></li>
  <li>Defense: <strong><%= @def %></strong></li>
  <li>Magic: <strong><%= @mag %></strong></li>
  <li>Gold in hand: <strong><%= @gc %></strong></li>
  <li>Current HP: <strong><%= "#{@curhp}/#{@maxhp}"  %></strong>
</ul>